body{
  font-family: arial;
  text-align: center;
  color: black;
  font-size: 16px;
}

.container {
  border: 1px solid black;
  padding: 1em;
  width: 70%;
  /* display: inline-block; */
  margin: 0 auto;
}

.post {
  font-size: 20px
}
